/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

/* Product Section */
#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin-top: -28px;
}

.product {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 25%;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.product h3 {
    font-size: 1.2rem;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

/* Checkout and Thank You Pages */
#checkout-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
.tyou h1{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
}
.product img{
    width: 150px;
}
.tyou-img img{
    width: 600px;
    margin-left: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}